#sharp {
    /* margin: auto; */
    width:330px;
    height:200px;
    background-color: rgb(154, 198, 158);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
  
#areaInput {
    /* margin: auto; */
    width:330px;
    height: 125px;
    background-color: rgb(225, 214, 102);
    
    /* display: table-cell;     
    vertical-align: middle; */
    text-align: center;          /*範囲の中央*/
}

#result {
    /* margin: auto; */
    width:330px;
    height:50px;
    background-color:rgb(127, 209, 236);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#result2 {
    /* margin: auto; */
    width:330px;
    height:50px;
    background-color:rgb(165, 101, 221);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
